@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-marathi: "Anek Devanagari", sans-serif;
}

html {
  /* This scales everything down slightly (standard is 16px) */
  font-size: 16px; 
}

body {
  font-family: var(--font-sans);
  @apply antialiased; /* Makes fonts look sharper on modern screens */
}